.numproj{
    color: white;
    background-color:#259 ;

}
.profit{
    background-color: #12A;
    color: white;
}
.crudtab    {
    
    color: white;
    border: 2px solid #345;
}
.lastmonth{
    margin-right: -10px;
}
.card-header select {
    background-color: rgb(63, 59, 59);
    color: white;
    width: 20%;
}
.card-header select:focus {
    outline: none; 
    box-shadow: 2px white;
}
